

body {
    background-color: #9d9d9d;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
	  text-align:left;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: #F55DEE;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}


/* Links */
a {
    color: #F55DEE;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	/*bapolina/header-bg.jpg) no-repeat center top;*/
	margin-top: -10px;
	padding-top:20px;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 150px;
	font-size: 70px;
	font-weight: 700;
}

#headerwrap h3 {
	font-size: 30px;
	font-weight: 100;
    font-family: 'Quicksand', sans-serif;
    font-style: oblique;
}


/* Footer Wrap */

#f {
	padding-top: 70px;
	padding-bottom: 70px;
}

#f h3 {
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 1px;	
}

#f i {
	font-size: 8px;
	color: #fff;
    padding: 3px;
}

#f p {
	font-size: 20px;
}

pre {
  color: #33B733;
}
